*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}
#nav-part-1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
#nav-part-1 i{
    font-size: 1.25rem;
    font-weight: bold;
}
#nav-part-2{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;   
}
#nav-part-2 i{
    font-size: 2rem;
    color: orangered;
}
#nav-part-2 h1{
    text-transform: uppercase;
}
#nav-part-3 button{
    border: 0.1rem solid black;
    padding: 0.15rem 0.5rem;
    /* font-weight: 300; */
    border-radius: 0.75rem;
    background-color: #fff;
}
#nav-part-3 button{
    box-shadow: 0.05rem 0.15rem 0rem black;
    background-color: #fff;
    text-transform: capitalize;
    border: 0.1rem solid black;
}
#nav-part-3 #btn{
    background-color: orangered;
    border: 0.1rem solid orangered;
    color: #fff;
}
#main>h1{
    color: orangered;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 5rem;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.25rem;
    z-index: 1;
}
#parent{
    position: relative;
    width: 100%;
    height: 70vh;     
}
#parent>img{
    width: 20rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
}
#img1{
    transform: translate(-50%,-50%) rotate(-10deg);
    
}
#img2{
    transform: translate(-50%,-50%) rotate(-20deg);
    
}
#img3{
    transform: translate(-50%,-50%) rotate(-30deg);
    
}
#img4{
    transform: translate(-50%,-50%);
}

#bottom{
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#bottom div{
    text-align: center;
}
#bottom i{
    font-size: 2rem;
}
#arrow{
    border: 0.1rem solid black;
    padding: 1rem 1.15rem;
    border-radius: 50%;
    position: absolute;
    left: 50%;
}
#arrow i{
    font-size: 1.25rem;
}